<h1>Document Store</h1>

<h2>URI Endpoint - https://vk-document-store.herokuapp.com/</h2>
<p>Please refer <a href="https://github.com/VaishakVk/DocumentStore/blob/master/README.md">here</a> for sample payloads</p>
<h2>Routes</h2>

<h3>GET</h3>

<p><strong>/api/files</strong> - Find all the files that are available in the storage</p>

<p><strong>/api/download</strong> - Download a particuar file</p>

<h3>POST</h3>

<p><strong>/api/upload</strong> - Upload a file to the storage</p>

<h3>PATCH</h3>

<p><strong>/api/rename</strong> - Rename an existing file</p>

<h3>DELETE</h3>

<p><strong>/api/delete</strong> - Delete an existing file</p>